
/***** COMPASS *****/
@import 'compass';
@import 'compass/reset';
@import "compass/utilities/sprites";
@import "compass/css3/background-size";



/***** SPRITES *****/
$weather-sprites: sprite-map("weather/sprites/*.png", $spacing: 25px);
$weather-sprites2x: sprite-map("weather/retina-sprites/*.png", $spacing: 25px);

$arrows-sprites: sprite-map("arrows/sprites/*.png", $spacing: 25px);
$arrows-sprites2x: sprite-map("arrows/retina-sprites/*.png", $spacing: 25px);



/***** MIXINS *****/
@import 'mixins/vertical-background-gradient';
@import 'mixins/trans-property';
@import 'mixins/trans-duration';
@import 'mixins/trans-delay';
@import 'mixins/arrows-sprite';
@import 'mixins/weather-sprite';
@import 'mixins/retina-sprite';



/***** BASIC STYLES *****/
@import 'basic/keyframes.scss';
@import 'basic/base';
@import 'basic/responsive';
@import 'basic/second_wrapper';



/***** VIEWS *****/

// home view (map tiles)
@import 'views/home/map-tile';

// spot detail page
@import 'views/spot-detail/spot-details';
@import 'views/spot-detail/preview_list';
@import 'views/spot-detail/current-conditions';

// settings view
@import 'views/settings/configuration';



/***** MODULES *****/
@import 'modules/main-header';
@import 'modules/header-button';
@import 'modules/list-loader';
@import 'modules/main-nav';

